.home_content{
    margin-top: 14rem;
    text-align: center;
}
.xxl_title{
    font-size: 64px;
    color: #fff;
    text-transform: uppercase;
}
.xxl_sub_title{
    font-size: 18px;
    color: #b0b0b0;
}