<!-- about.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/about.css">

</head>
<body>
    <div class="particle" id="particles-js"></div>
    <div class="container">
        <nav>
            <div class="logo">
                <h1><span class="main_color">Voice</span> Website</h1>
            </div>
            <div class="menu">
                <a href="/home" class="menu_item">Home</a>
                <a href="/sneakers" class="menu_item">Sneakers</a>
                <a href="/about" class="menu_item">About us</a>
                <a href="/contact" class="menu_item">Contact</a>
            </div>
        </nav>

        <div class="about">
            <div class="about_img">
                <img src="../static/img/logo.svg" alt="logo">
            </div>
            <div class="about_text">
                <h1><span class="main_color">Voice</span>-Activated Website</h1>
                <p>Welcome to a website where page navigation is made easy through voice commands. Simply utter key phrases to seamlessly move to the sections that interest you, enhancing navigation with an intuitive and convenient voice-controlled experience. Interacting with the site becomes more akin to natural conversation, making the user experience both comfortable and engaging. Accessing information is now effortless and straightforward!</p>
            </div>
        </div>
    </div>

    <script>
        function sendCommand(command) {
            fetch(`/process_command/${command}`)
                .then(response => response.json())
                .then(data => {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    } else {
                        console.error(data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    
        function startListening() {
            const commands = {{ commands | tojson | safe }};
            const triggerWords = commands.map(command => command.toLowerCase());
    
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(function (stream) {
                    const recognition = new webkitSpeechRecognition();
                    recognition.lang = 'en-US';
                    recognition.interimResults = true;
    
                    recognition.onresult = function (event) {
                        const lastCommand = event.results[event.results.length - 1][0].transcript.toLowerCase();
                        console.log('Spoken phrase:', lastCommand);
    
                        // Check if any trigger word is present in the spoken phrase
                        const foundCommand = triggerWords.find(command => lastCommand.includes(command));
    
                        if (foundCommand) {
                            sendCommand(foundCommand);
                        }
                    }
    
                    recognition.onend = function () {
                        recognition.start();
                    }
    
                    recognition.start();
                })
                .catch(function (error) {
                    console.error("Error accessing the microphone: " + error);
                });
        }
    
        startListening();
    </script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/particl.js"></script>
</body>
</html>
