<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="particle" id="particles-js"></div>

    <div class="container index_content">
        <button class="microphoneButton" id="microphoneButton">Request Microphone Access</button>
    </div>

    
    <script>
        document.getElementById('microphoneButton').addEventListener('click', async () => {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                console.log('Microphone access granted!');
                // Теперь у вас есть доступ к микрофону через объект "stream"
                // Вы можете использовать этот объект, например, для записи звука или передачи через сеть.

                // После успешного получения доступа, перенаправляем пользователя на /home
                window.location.href = '/home';
            } catch (error) {
                console.error('Error accessing microphone:', error);
            }
        });
    </script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/particl.js"></script>
</body>
</html>
